<h1 mat-dialog-title>{{ data.action }}</h1>
<div mat-dialog-content>
  <p>{{ data.action }} your pokemon</p>
  <app-input [type]="'name'" [(ngModel)]="data.name"></app-input>
  <app-input [type]="'level'" [(ngModel)]="data.level"></app-input>
  <app-select
    [label]="'Choose Pokemon Type'"
    [(ngModel)]="data.type"
    [data]="pokemonTypes"
    [currentValue]="data.type"
  ></app-select>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
  <button
    mat-button
    [mat-dialog-close]="data"
    cdkFocusInitial
    color="primary"
    matRipple
    [matRippleCentered]="true"
  >
    {{ data.action }}
  </button>
</div>
