@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");

.jumbo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, auto);
}

.header {
  grid-column: 2/12;
  background: #000;
  color: #fff;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  /* position: relative; */
}

.main {
  grid-column: 2/12;
  text-align: center;
}

.input-section {
  display: flex;
  justify-content: space-around;
}

.counter {
  margin: 1rem;
}

.btn {
  padding: 1rem;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.btn:active {
  background-color: #fff;
  color: #000;
}

.bmi-value > span,
.bmi-result > span {
  display: block;
  padding: 1rem;
  margin: 1rem 0;
  font-weight: 800;
  border: 1px solid #000;
}

.bmi-result > span {
  background-color: #ffbf00;
}

.save-btn {
  margin: 1rem 0;
  padding: 0.5rem;
  background-color: #fff;
  color: #000;
  cursor: pointer;
}

.save-btn:active {
  transform: scale(0.98);
}

.table-head th {
  background-color: black;
  color: #fff;
  /* border: 1px solid #000; */
  padding: 1rem;
}

.table {
  width: 100%;
  text-align: justify;
  border: 1px solid #000;
}

.table-body td {
  /* border: 1px solid #000; */
  padding: 1rem;
}

.del-btn {
  padding: revert;
}
