.cdk-container {
    height: 100%;
    .cdk-menu {
        display: inline-flex;
        flex-direction: column;
        min-width: 200px;
        max-width: 280px;
        background-color: rgb(255, 255, 255);
        padding: 6px 0;
        .cdk-menu-item {
            background-color: transparent;
            cursor: pointer;
            border: none;

            user-select: none;
            min-width: 64px;
            line-height: 3rem;
            padding: 0 16px;

            display: flex;
            align-items: center;
            flex-direction: row;
            flex: 1;
        }

        .cdk-menu-item {
            &:hover, &.active {
                background-color: rgb(208, 208, 208);
            }
        }

        .cdk-menu-item:active {
            background-color: rgb(170, 170, 170);
        }
    }
}