<mat-drawer-container class="cdk-container">
  <mat-drawer #drawer class="mat-elevation-z8" mode="side" opened="true">
    <div class="cdk-menu" cdkMenu>
      <button
        class="cdk-menu-item pl-4"
        [routerLinkActive]="'active'"
        *ngFor="let menu of menuData"
        cdkMenuItem
        [routerLink]="menu.link"
      >
        <mat-icon class="mr-3"> {{ menu.icon }} </mat-icon>
        <p class="m-0 mt-1">{{ menu.name }}</p>
      </button>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div class="container">
      <ng-content></ng-content>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
