<div class="container mt-4">
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="tableDataSource">
      <ng-container
        *ngFor="let col of colsData; let i = index"
        [matColumnDef]="col.key"
      >
        <th mat-header-cell *matHeaderCellDef>{{ colsData[i]["display"] }}</th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="!col.config; else hasConfig">
            {{ element[col.key] | titlecase }}
          </ng-container>
          <ng-template #hasConfig>
            <ng-container *ngIf="col.config?.isSpecial">
              {{ col.config?.handleSpecial(element[col.key]) }}
            </ng-container>
            <ng-container
              *ngIf="col.config?.isAction && element.status; else commonAction"
              class="text-left"
            >
              <ng-container *ngIf="element?.status[0]?.title === 'Pending'">
                <button
                  *ngFor="let action of col.config?.actions"
                  mat-mini-fab
                  [color]="action.color"
                  class="ml-1 text-center"
                  (click)="action?.handleAction(element)"
                >
                  <mat-icon>{{ action.icon }}</mat-icon>
                </button>
              </ng-container>
              <ng-container *ngIf="element?.status[0]?.title === 'Rejected'">
                <button mat-button color="warn">
                  <mat-icon>close</mat-icon> Rejected
                </button>
              </ng-container>
              <ng-container *ngIf="element?.status[0]?.title === 'Approved'">
                <button mat-button color="primary">
                  <mat-icon>check</mat-icon> Approved
                </button>
              </ng-container>
            </ng-container>
            <ng-template #commonAction>
              <button
                *ngFor="let action of col.config?.actions"
                mat-mini-fab
                [color]="action.color"
                class="ml-1 text-center"
                (click)="action?.handleAction(element)"
              >
                <mat-icon>{{ action.icon }}</mat-icon>
              </button>
            </ng-template>
          </ng-template>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="keys"></tr>
      <tr mat-row *matRowDef="let row; columns: keys"></tr>

      <ng-container *ngIf="tableDataSource?.data?.length === 0">
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" [colSpan]="colsData.length">
            Currently no data available...
          </td>
        </tr>
      </ng-container>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
    </mat-paginator>
  </div>
</div>
