<div class="card text-center">
  <div class="card-header">Log In</div>
  <div class="card-body">
    <div
      class="alert"
      *ngIf="showAlert"
      [ngClass]="{
        'alert-success': !alertMessage.isError,
        'alert-danger': alertMessage.isError
      }"
    >
      {{ alertMessage.message }}
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="handleLogin()">
      <input
        type="email"
        placeholder="email"
        formControlName="email"
        class="form-control mb-2"
      />
      <input
        type="password"
        placeholder="password"
        formControlName="password"
        class="form-control mb-2"
      />
      <button
        class="btn btn-outline-dark btn-block"
        type="submit"
        [disabled]="loginForm.invalid"
      >
        Login
      </button>
    </form>
  </div>
</div>
