<div class="card text-center">
  <div class="card-header">Dash</div>
  <div class="card-body">
    <h5 class="card-title">
      {{
        isUserLoggedIn ? "Welcome, " + currentUser?.email : "User Not Signed In"
      }}
    </h5>
    <p class="card-text">
      Lorem, ipsum dolor sit amet consectetur adipisicing.
    </p>
    <button class="btn btn-outline-dark" *ngIf="isUserLoggedIn" (click)="handleLogout()">Logout</button>
  </div>
  <div class="card-footer text-muted">
    <i class="fa fa-circle" [ngClass]="{ 'text-success': isUserLoggedIn }"></i>
    User is {{ isUserLoggedIn ? "online" : "offline" }}
  </div>
</div>
